/* GLOBAL STYLES START */
/* Set Border-Box Start */
* {
  box-sizing: border-box;
}
/* Set Border-Box End */

/* Root Colors Start */
:root {
  /* Primary - intial button(s) color */
  --primary: rgb(53,28,117);
  /* Secondary - button(s) color change / view high score links */
  --secondary: rgb(187, 125, 216); 
  /* Tertiary - purpose */
   --tertiary: rgb(216,210,231); 
  /* Dark - borders / dk font */
  --dark: black;  
  /* Light - background / lt font */ 
  --light: white;
}
/* Root Colors End */
/* GLOBAL STYLES END */

/* BODY STYLES START */
body {
  margin: 0;
  padding: 0;
}

/* GENERAL STYLES START */
/* Flex Styles Start */
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
}
/* Flex Styles End */

/* Titles */
h1 {
  margin: 10px 0px;
}

/* Non-Titles */
p {
  margin: 0;
  max-width: 510px;
}

#b-mrgn {
  margin: 0 0 15px 0;
}

/* Button Styles Start */
.btn {
  width: auto;
  padding: 3px 10px;
  border-radius: 5px;
  background-color: var(--primary);
  font: bold;
  color: white;
}

.btn:hover {
  background-color: var(--secondary);
}
/* Button Styles End */
/* GENERAL STYLES END */

/* SECTIONS START */
/* Main Styles Start */
.main {
  border: 2px solid black;
  border-radius: 6px;
  background-color: var(--light);
  max-width: 970px;
  min-height: 400px;
  margin: 5px;
  font-family: "Lato Extended", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.15;
  font-size: 1.0rem;
  color: var(--dark);
}
/* Main Styles End */

/* Content Sections Styles Start */
.content {
  justify-content: center;
  text-align: center;
  padding: 0 25px;
}
/* Content Sections Styles End */

/* Index - Header & Navigation Starts */
header {
  justify-content: space-between;
  margin: 25px;
}

nav a {
  text-decoration: none;
  color: var(--secondary);
}
/* Index - Header & Navigation Ends */

/* Questions Display Styling - (se JS) */
.q {
  text-align: left;
  max-width: 50%;
  flex-direction: column;
}

.opt-btn {
  display: block;
  width: 100px;
  text-align: left;
  margin: 5px;
}
/* Questions Display Styling Ends */

/* High Scores Starts */
.hi-sc {
  margin: 10% 10%;
  justify-content: left;
  max-width: 50%;
}

.score-list {
  background-color: var(--tertiary);
  width: 100%;
  max-width: 300px;
  padding: 5px;
  text-align: left;
}
/* High Scores Ends */
/* BODY ENDS

/* MEDIA QUERIES START */
/* Minimum Screen Width 980px */
@media screen and (min-width: 980px) {
  .main {
    margin: 5px auto;
  }
}

/* Maximum Screen Width 575px */
@media screen and (max-width: 575px) {
  .flex {
    flex-direction: column;
  }
  .hi-sc {
    justify-content: center;
    margin: 10% auto;
  }
}