/* GLOBAL STYLES START */
/* Set Border-Box Start */
* {
  box-sizing: border-box;
}
/* Set Border-Box End */

/* Root Colors Start */
:root {
  /* Primary - intial button(s) color */
  --primary: rgb(53,28,117);
  /* Secondary - button(s) color change / view high score links */
  --secondary: rgb(187, 125, 216); 
  /* Tertiary - purpose */
   --tertiary: rgb(216,210,231); 
  /* Dark - borders / dk font */
  --dark: black;  
  /* Light - background / lt font */ 
  --light: white;
}
/* Root Colors End */
/* GLOBAL STYLES END */

/* BODY STYLES START */
body {
  margin: 0;
  padding: 0;
}

/* GENERAL STYLES START */
/* Flex Styles Start */
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
}
/* Flex Styles End */

/* Titles */
h1 {
  margin: 10px 0px;
}

/* Non-Titles */
p {
  margin: 0;
  max-width: 510px;
}
/* GENERAL STYLES END */

/* SECTIONS START */
/* Main Starts */
.main {
  border: 2px solid black;
  border-radius: 6px;
  background-color: var(--light);
  max-width: 970px;
  min-height: 400px;
  margin: 5px;
  font-family: "Lato Extended", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.15;
  font-size: 1.0rem;
  color: var(--dark);
}
/* Main Ends */



/* MEDIA QUERIES START */
@media screen and (min-width: 980px) {
  .main {
    margin: 5px auto;
  }
  }
  
  @media screen and (max-width: 575px) {
  .flex {
    flex-direction: column;
  }
  .hi-sc {
    justify-content: center;
    margin: 10% auto;
  }
  }